<nav class="navbar navbar-expand-lg navbar-light py-4">
	<div class="container-fluid">
		<a class="navbar-brand" href="https://library.livecanvas.com/sections/">
			<img class="img-fluid" src="../static/extra/360_F_335166628_b2M3WgWbbZqxNHsRt6ZxHzk1dtCrWhVx-removebg-preview.png" alt="" width="48px" height="48px">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav_lc" aria-controls="nav_lc" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="nav_lc">
			<ul class="navbar-nav my-3 my-lg-0 ms-lg-3 me-auto">
				<li class="nav-item me-4"><a class="nav-link" href="{{ url_for('index')}}">Home</a></li>
				<li class="nav-item me-4"><a class="nav-link" href="/questionnaire">Questionnaire</a></li>
				<li class="nav-item me-4"><a class="nav-link" href="/chatbot">Chatbot</a></li>
                <li class="nav-item me-4"><a class="nav-link" href="/solutiondash">Solution</a></li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
			</ul>
			<div><a class="btn btn-outline-secondary me-2" href="/login">Sign In</a><a class="btn btn-primary" href="{{ url_for('register')}}">Sign Up</a></div>
		</div>
	</div>
</nav>