<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression Questionnaire</title>
    <link rel="stylesheet" href="../static/css/quiz1.css">
</head>

<body>
    
    <div class="main-div">
        
        <div id="qclass" class="inner-div">
                <h2 id="mainq" class="mainqArea">Over the last two week how often have you been bothered by any of the following problem?</h2>
                <h2 id="quesId"  class="question">Question comes here</h2>
                <ul id="optionId">
                    <div id="item"><li>
                        <input type="radio" name="answer" id="0" class="answer">
                        <label for="ans1" id="option1">Answer option</label>
                    </li>
    
                    <li>
                        <input type="radio" name="answer" id="1" class="answer">
                        <label for="ans2" id="option2">Answer option</label>
                    </li>
    
                    <li>
                        <input type="radio" name="answer" id="2" class="answer">
                        <label for="ans3" id="option3">Answer option</label>
                    </li>
    
                    <li>
                        <input type="radio" name="answer" id="3" class="answer">
                        <label for="ans4" id="option4">Answer option</label>
                    </li>
                    </div>
                </ul> 
            <button id="next">Next</button>
            <button class="submit" id="submit">Submit</button>
            <div id="showScore" class="scoreArea"></div>
            <div id="showProblem" class="problemArea"></div>
        </div>
    </div>
    <script src="../static/css/quiz1.js"></script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression Questionnaire</title>
    <link rel="stylesheet" href="./../static/css/quiz1.css">
</head>

<!-- This was commented
 -->


<body>
    <!-- <div id="greet"><h1><b>Welcome to the quiz dear user</b></h1>  </div>
        <div id="note"><h2>Submit your quiz at the end of questions</h2></div> -->
    <div class="main-div">
        <!-- <div id="greet"><h1><b>Welcome to the quiz dear user</b></h1>  </div>
        <div id="note"><h2>Submit your quiz at the end of questions</h2></div> -->
        <div id="qclass" class="inner-div">
                <h2 id="mainq" class="mainqArea">Over the last two week how often have you been bothered by any of the following problem? <br>
                    0-being the lowest ; 3-being the highest </h2>
                
                <h2 id="quesId"  class="question">Question comes here</h2>
                <ul id="optionId">
                    <div id="item"><li>
                        <input type="radio" name="answer" id="0" class="answer">
                        <label for="ans1" id="option1">Answer option</label>
                    </li>
    
                    <li>
                        <input type="radio" name="answer" id="1" class="answer">
                        <label for="ans2" id="option2">Answer option</label>
                    </li>
    
                    <li>
                        <input type="radio" name="answer" id="2" class="answer">
                        <label for="ans3" id="option3">Answer option</label>
                    </li>
    
                    <li>
                        <input type="radio" name="answer" id="3" class="answer">
                        <label for="ans4" id="option4">Answer option</label>
                    </li>
                    </div>
                </ul> 
            <button id="next">Next</button>
            <button class="submit" id="submit">Submit</button>
            <div id="showScore" class="scoreArea"></div>
            <div id="showProblem" class="problemArea"></div>
        </div>
    </div>
    <script src="../static/css/quiz1.js"></script>
</body>
</html>
