{% extends 'base.html' %}
{% block content %}

<!-- 
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="lc-block">
				<span editable="inline" class="small mt-4 d-block"></span>
				<h2 editable="inline" class="display-2 mb-0"><b>Questionnaire</b></h2>
				<p editable="inline">Clinically approved Questionnaires for 5 different mental health issues <br>Find out the severity level of your illness with this test</p>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow">
				<div class="lc-block mb-4"><img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/product-teardown.svg" style="height:10vh">


					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Depression&nbsp;</p>


					<a class="btn btn-outline-primary" href="/quiz1" role="button">Take Test</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/selfie.svg" style="height:10vh">


					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Anxiety&nbsp;</p>


					<a class="btn btn-outline-primary" href="/quiz2" role="button">Take Test</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/add-files.svg" style="height:10vh">

					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Anger&nbsp;</p>

					<a class="btn btn-outline-primary" href="/quiz3" role="button">Take Test</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/delivery.svg" style="height:10vh">

					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Sleep Disorder&nbsp;</p>

					<a class="btn btn-outline-primary" href="/quiz4" role="button">Take Test</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/no-data.svg" style="height:10vh">

					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Somatic Symptom&nbsp;</p>

					<a class="btn btn-outline-primary" href="/quiz5" role="button">Take Test</a>
				</div>
			</div>
		</div>
		
	</div>
</div> -->


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Quiz Dashboard</title>
  </head>
  <body style="background-image: url(./../static/extra/quizDash.jpeg); margin-bottom: 6rem">

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="lc-block">
				<span editable="inline" class="small mt-4 d-block"></span>
				<h2 editable="inline" class="display-2 mb-0"><b>Questionnaire</b></h2>
				<p editable="inline">Clinically approved Questionnaires for 5 different mental health issues <br>Find out the severity level of your illness with this test</p>
			</div><!-- /lc-block -->
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow"  style=" box-shadow:1rem 1rem -0.7rem rgb(0, 0, 0); border-radius: 1rem;">
				<div class="lc-block mb-4"><img alt="" class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/2913/2913034.png" style="height:10vh">


					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Depression&nbsp;</p>


					<a class="btn btn-outline-primary" href="/quiz1" role="button">Take Test</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow"  style=" box-shadow:1rem 1rem -0.7rem rgb(0, 0, 0); border-radius: 1rem;">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/3997/3997770.png" style="height:10vh">


					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Anxiety&nbsp;</p>


					<a class="btn btn-outline-primary" href="/quiz2" role="button">Take Test</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow"  style=" box-shadow:1rem 1rem -0.7rem rgb(0, 0, 0); border-radius: 1rem;">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://static.thenounproject.com/png/1350173-200.png" style="height:10vh">

					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Anger&nbsp;</p>

					<a class="btn btn-outline-primary" href="/quiz3" role="button">Take Test</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
	</div>
	<div class="row mt-4">
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow"  style=" box-shadow:1rem 1rem -0.7rem rgb(0, 0, 0); border-radius: 1rem;">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://static.thenounproject.com/png/2852814-200.png" style="height:10vh">

					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Sleep Disorder&nbsp;</p>

					<a class="btn btn-outline-primary" href="/quiz4" role="button">Take Test</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow"  style=" box-shadow:1rem 1rem -0.7rem rgb(0, 0, 0); border-radius: 1rem;">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/1491/1491313.png" style="height:10vh">

					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Somatic Symptom&nbsp;</p>

					<a class="btn btn-outline-primary" href="/quiz5" role="button">Take Test</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		
	</div>
</div>
</body>
{% endblock%}