{% extends 'base.html' %}
{% block content %}


<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="lc-block">
				<span editable="inline" class="small mt-4 d-block"></span>
				<h2 editable="inline" class="display-2 mb-0"><b>Solutions!</b></h2>
				<p editable="inline">Solutions for 5 different types of mental health problems<br>Learn more about each of them to improve your mental health.</p>
			</div><!-- /lc-block -->
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow">
				<div class="lc-block mb-4"><img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/product-teardown.svg" style="height:10vh">


					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Depression&nbsp;</p>


					<a class="btn btn-outline-primary" href="/solution1" role="button">Learn more</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/selfie.svg" style="height:10vh">


					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Anxiety&nbsp;</p>


					<a class="btn btn-outline-primary" href="/solution2" role="button">Learn more</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/add-files.svg" style="height:10vh">

					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Anger&nbsp;</p>

					<a class="btn btn-outline-primary" href="/solution3" role="button">Learn more</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
	</div>
	<div class="row mt-4">
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/delivery.svg" style="height:10vh">

					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Sleep Disorder&nbsp;</p>

					<a class="btn btn-outline-primary" href="/solution4" role="button">Learn more</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/no-data.svg" style="height:10vh">

					<h4 class="my-3" editable="inline"></h4>
					<p editable="inline">Somatic Symptom&nbsp;</p>

					<a class="btn btn-outline-primary" href="/solution5" role="button">Learn more</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		
	</div>
</div>


{% endblock%}